@charset "UTF-8";

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 109, 0);
}
h1#principal{
    text-align: rgb(4, 109, 0);
    background-color: chocolate;

}
h2{
    color: rgb(38, 217, 38);
}
.basico{
    color: black;
}
.intermediario{
    color: aliceblue;
}
.avancado{
    color: blueviolet;
}